@font-face{
	  font-family: "SeasideResortNF";
	  src: url(../../media/fonts/SeasideResortNF.otf)
}
@font-face {
  font-family: "RobotoSlab";
  font-weight: normal;
  src: url(../../media/fonts/robotoslabregular.woff)
}